/**********************************************************
    fcoo-colors-mixin.scss

	https://github.com/FCOO/fcoo-colors
	https://github.com/FCOO

**********************************************************/


/**********************************************************
Functions to get colors in different (relative) gradients
**********************************************************/
@function fc-get-color-list($gradient: $fc-default-gradient) {
    @return nth( $fc-color-array, $gradient + 1);
}


@function fc-get-color($color, $gradient: $fc-default-gradient) {
    @return nth( fc-get-color-list( $gradient ), $color + 1 );
}

@function fc-get-delta-color($color, $delta-gradient: 0) {
    @return fc-get-color( $color, $fc-default-gradient + $delta-gradient );
}


/**********************************************************
marker-and-polygon-color
create color-classes for bsMarker and bsPolyline
**********************************************************/
@mixin marker-and-polygon-color( $name, $color, $border-color:$color){
    @include lbm-marker-and-icon-classes( $name, $color, $border-color );
    @include polyline-classes( $name, $color, $border-color );
}




/**********************************************************
Application color
Defaults is = DALO color in "Forsvarsministeriets koncernfælles Designmanual 2018"
Can be changed by mixin application-base-color( new-color )
**********************************************************/
@mixin application-base-color($color){
    :root {
        --_fcoo-app-base-color     : #{$color};
        --_fcoo-app-base-text-color: #{ch-best-color-contrast($base: $color, $colors: (#ffffff, #000000), $tolerance: 0)};
    }
}

